@font-face {
  font-family: "TikTokDisplay";
  src: url("./assets/fonts/TikTokDisplayRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TikTokDisplay";
  src: url("./assets/fonts/TikTokDisplayMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TikTokDisplay";
  src: url("./assets/fonts/TikTokDisplayBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TikTokText";
  src: url("./assets/fonts/TikTokTextRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TikTokText";
  src: url("./assets/fonts/TikTokTextMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TikTokText";
  src: url("./assets/fonts/TikTokTextBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(175, 175, 175);
  transition: background 0.4s ease;
  &.dark {
    background: #010408;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}
