.rankings_title {
  padding: 2rem 0 1rem 0;
  font-size: 2rem;
  text-decoration: underline;
}

.room_outer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 1.5rem;
  &:first-of-type {
    margin-top: 0;
  }
  .user_rank_container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    .user_rank_number {
      font-weight: 600;
    }
  }
  .user_image_circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  .user_display_id {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .diamonds_container {
    .diamonds_count {
      font-size: 0.8rem;
      font-weight: 700;
    }
  }
}

.leader-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "column-2 column-1 column-3";
  gap: 0.25rem;
  margin: 0 1rem;
  align-items: flex-end;
  .leader-card-container {
    background: rgb(42, 47, 54);
    border-radius: 2px;
    height: 92.5%;
    .user_image_circle {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-top: 1rem;
      border: 3px solid rgb(92, 97, 104);
    }
    .leader-username {
      font-weight: 700;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      width: 65%;
      margin: 0 auto;
    }
    .leader-diamonds {
      margin: 0.2rem 0 0.75rem 0;
      font-size: 0.75rem;
      font-weight: 700;
    }
  }
  .leader-card-container:nth-child(1) {
    grid-area: column-1;
    height: 100%;
    .user_image_circle {
      width: 65px;
      height: 65px;
    }
  }
  .leader-card-container:nth-child(2) {
    grid-area: column-2;
  }
  .leader-card-container:nth-child(3) {
    grid-area: column-3;
  }
}
